.search-container {
  background-color: rgb(163, 115, 211);
  display: flex; 
  justify-content: center; 
  height: auto;
}

.search {
  box-shadow: 0 2px 4px rgba(24, 6, 6, 0.1);
  color: #faf0f0;
  font-size: 20px;
  background-color: rgb(175, 118, 228);
  width: 50vh;
}

label {
  display: inline-block;
  margin: 50px;
  font-weight: bold;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.submit-btn {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
}